<h1>Listing Roundtable Reports</h1>
<hr>

<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %>
  <head_sub> </head_sub></h1>
</div>

        <td><%= post.this_district %></td>
<table class="table table-bordered table-striped">
  <tr>
    <th>Units</th>
    <th>People</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>


<% @posts.each do |post| %>
  <tr>
    <td><%= post.units %></td>
    <td><%= post.people %></td>
    <td><%= post.user_name %></td>
    <td><%= post.user_email %></td>
    <td><%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-success' %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>

</table>

<br />

<%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %>
