<h2 id="notice"><%= notice %></h2>
<hr>
<table class="table table-striped table-bordered span6 offset3">
  <tr><td>Event:</td>
  <td><%= @post.event_name %></td>
</tr>

  <tr><td>Date:</td>
  <td><%= @post.held_at %></td>
</tr>


  <tr><td>District:</td>
  <td><%= @post.district_id %></td>
</tr>

  <tr><td>Units:</td>
  <td><%= @post.units %></td>
</tr>

  <tr><td>People:</td>
  <td><%= @post.people %></td>
</tr>

  <tr><td>Name:</td>
  <td><%= @post.user_name %></td>
</tr>

  <tr><td>Email:</td>
  <td><%= @post.user_email %></td>
</tr>

<tr><td colspan="2" style="text-align:center;">
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %>
      <% if current_user %>
 | <%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
      <% else %>
 | <%= link_to 'Done', new_post_path, :class => 'btn btn-primary' %>
      <% end %>
</td></tr>
</table>